{% extends 'base.html' %}
{% block content %}
<div class="container flex flex-wrap justify-evenly items-center px-10 py-5">
    <button class="rounded border border-gray-300 px-3 py-1 bg-blue-500 text-white  hover:bg-blue-700">
        <a href="{% url 'reviews:new_ticket' %}">
            Demander une critique
        </a>
    </button>
    <button
        class="rounded border border-gray-300 px-3 py-1 bg-green-600 text-white hover:text-gray-900 hover:bg-green-400">
        <a href="{% url 'reviews:new_ticket_review' %}">
            Poster une critique
        </a>
    </button>
</div>
{% if posts %}
<h1 class="text-center text-xl font-bold">Vos Posts:</h1>
{% endif %}
{% if feed %}
<ul class="flex flex-col justify-start gap-8">
    {% for post in feed %}
    <li>
        {% if post.title %}
        {% comment "" %}
        If the post has a title its a ticket
        {% endcomment %}
        {% include 'reviews/ticket.html' %}
        {% else %}
        {% comment "" %}
        else, its a review
        {% endcomment %}
        {% include 'reviews/review.html' %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="container text-center">
    <h2>Aucune critique dans votre flux...</h2>
    <p>
        Essayez de suivre d'autres utilisateurs ou bien créez une critique ou un billet.
    </p>
</div>
{% endif %}
{% endblock  %}