{% extends 'base.html' %}

{% block content %}
<form action="" method="post" class="flex flex-col gap-2 w-full" enctype="multipart/form-data">
    {% csrf_token %}
    {% if ticket %}
    <div class="flex flex-col p-4 border gap-2">
        <h2>Vous êtes en train de poster en réponse à: </h2>
        <div class="ml-8">
            {% include 'reviews/ticket.html' with post=ticket response=True %}
        </div>
    </div>
    {% else %}
    <fieldset>
        <legend>Billet: </legend>
        <div class="px-4">

            {{ ticket_form }}
        </div>
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>Critique: </legend>
        <span class="text-red-500">
            {{ review_form.non_field_errors }}
        </span>
        <div class="w-full px-4 flex gap-4 items-center">
            <label for="{{ review_form.rating.id_for_label }}" class="">Note: </label>
            {{ review_form.rating }}
            <span class="text-red-500">
                {{ review_form.rating.errors }}
            </span>
            <span class="italic">
                {{ review_form.rating.help_text}}
            </span>
        </div>
        <div class="w-full px-4 flex flex-col">
            <label for="{{ review_form.headline.id_for_label }}" class="visually-hidden">Titre: </label>
            {{ review_form.headline }}
            <span class="text-red-500">
                {{ review_form.headline.errors }}
            </span>
            <span class="italic">
                {{ review_form.headline.help_text}}
            </span>
        </div>
        <div class="w-full px-4 flex flex-col">
            <label for="{{ review_form.body.id_for_label }}" class="visually-hidden">Critique: </label>
            {{ review_form.body }}
            <span class="text-red-500">
                {{ review_form.body.errors }}
            </span>
            <span class="italic">
                {{ review_form.body.help_text}}
            </span>
        </div>
    </fieldset>
    <button type="submit"
        class="max-w-40 self-end rounded border border-gray-300 px-3 py-1 bg-blue-500 text-white">Envoyer</button>
</form>
{% endblock  %}