{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col p-4 border gap-2">
    <h2>Vous êtes en train de poster en réponse à: </h2>
    <div class="ml-8">
        {% include 'reviews/ticket.html' with post=ticket response=True %}
    </div>
</div>
<form action="" method="post" class="flex flex-col gap-2 w-full">
    {% csrf_token %}
    <span class="text-red-500">
        {{ form.non_field_errors }}
    </span>
    {{ form }}
    <button type="submit"
        class="max-w-40 self-end rounded border border-gray-300 px-3 py-1 bg-blue-500 text-white">Envoyer</button>
</form>
{% endblock  %}