{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-between gap-4">
    <h1 class="text-lg font-bold">Supprimer le billet</h1>
    {% include 'reviews/ticket.html' with post=object %}
    <form method="post" class="flex flex-col items-center justify-between gap-4">
        {% csrf_token %}
        <h2>Êtes-vous sûr(e) de vouloir supprimer ce billet?</h2>
        {{ form }}
        <button type="submit"
            class="max-w-40 self-end px-4 py-2 text-white rounded-full bg-red-800 p-2 flex gap-2 items-center hover:bg-red-500 hover:text-black transition-all delay-150 border border-transparent">Confirmer</button>
    </form>
</div>
{% endblock  %}