{% load static tailwind_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'theme/custom_style.css' %}">
    <title>{% block title %}LITReview{% endblock title %}</title>
</head>

<body class="flex flex-col content-center items-center w-full gap-4">
    <header class="w-full text-center bg-blue-500 text-white px-4 py-2 flex justify-between">
        <div class="w-1/3"></div>
        <a href="{% url 'reviews:feed' %}" class="flex-1">LITReview</a>
        <nav class="w-1/3">
            <ul class="flex justify-end gap-4">
                <li>
                    <a href="{% url 'reviews:feed' %}">Flux</a>
                </li>
                <li>
                    <a href="{% url 'reviews:posts' %}">Posts</a>
                </li>
                <li>
                    <a href="{% url 'community:search' %}">Abonnements</a>
                </li>
                <li>
                    <a href="{% url 'authentication:signout' %}">Se déconnecter</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container p-2">
        {% block content %}{% endblock %}
    </main>
</body>

</html>