<div class="flex justify-between bg-slate-100">
    <h2 class="px-4 py-2">
        {{ user.username }}
    </h2>
    <div class="flex">
        {% if not followed %}
        <button
            class="rounded-tr rounded-br border border-gray-300 px-3 py-1 bg-blue-800 text-white  hover:bg-blue-700">
            <a href="{% url 'community:subscribe' user.id %}">
                S'abonner
            </a>
        </button>
        {% else %}
        <button
            class="rounded-tr rounded-br border border-gray-300 px-3 py-1 bg-green-500 hover:text-gray-900 hover:bg-green-300">
            <a href="{% url 'community:unsubscribe' user.id %}">
                Se désabonner
            </a>
        </button>
        {% endif %}
        {% if not blocked %}
        <button class="rounded-tr rounded-br border border-gray-300 px-3 py-1 bg-red-800 text-white  hover:bg-red-700">
            <a href="{% url 'community:block' user.id %}">
                Bloquer
            </a>
        </button>
        {% else %}
        <button
            class="rounded-tr rounded-br border border-gray-300 px-3 py-1 bg-green-500 hover:text-gray-900 hover:bg-green-300">
            <a href="{% url 'community:unblock' user.id %}">
                Débloquer
            </a>
        </button>
        {% endif %}
    </div>
</div>